#wordsLabel .scroll-pane .content .text {
    -fx-text-alignment: center;
}

#wordsLabel {
    -fx-font-size: 1.3em;
    /*-fx-max-height: 60;*/
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.node-border3 {
    -fx-border-insets: 5, 23, 5, 23;
    /*-fx-background-insets: 5, 23, 5, 23;*/
    /*-fx-background-radius: 6;*/
    -fx-border-radius: 6;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}
